<style>
.column-left{
  float: left;
  width: 45%;
  text-align: left;
}
.column-right{
  float: right;
  width: 45%;
  text-align: left;
}
</style>

.codefont pre {
    font-size: 11px;
    line-height: 10px;
}

